.login-popup {
    display: none;
    margin: 0;
    position: absolute;
    position: fixed;
    z-index: 2;
    bottom: 0;
    top: 25%;
    left: 50%;
    transform: translate(-35%, -33%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 24px 28px 50px;
    background: #fff;
    border: 1px solid #213B7E;
    background-color: #fff;


}

.login-head {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;

}

.login-form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

}

.login-form>input {

    width: 100%;
    max-width: 500px;
    min-height: 56px;
    border: 1px solid #808080;

}

.login-input {
    width: 444px;
    background-color: #fff;
    border: 1px solid #808080;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding: 10px;

}

.password-input {
    background-color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 42px;
}

.popup-button {

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 15px 16px 15px 0px;
    padding: 15px 51px 14px 51px;
    color: #fff;
    background-color: #EA5D21;
    cursor: pointer;
    font-family: "Roboto";
}

.button-clouse {
    position: absolute;
    right: 40px;
    border: 0;
    cursor: pointer;



}

.close {
    max-height: 36px;
    max-width: 36px;

}

.close:hover {
    max-height: 40px;
    max-width: 40px;

}

.show-popup {
    display: block;
}